/* Soluzione qui */
@media screen and (min-width:576px){
    .presentation img{
        float: left;
        margin-right: 10px;
    }
    .social-networks .btn{
        padding: 10px 37px;  
    }
}
 @media screen and (min-width:768px){
    #topbar{
        justify-content: left;
    }
    main{
        padding: 45px;
    }
    .recipe-origin{
        display: inline-block;
    }
    .recipe-name{
        font-size: 30px;
    }
    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        gap: 0px 95px;
    }
    .pin{
        position: relative;
        right: 6px;
    }
    .social-networks .btn{
        padding: 10px 50px;
    }
    .ads{
        display: block;
    }
    .presentation img{
        float: left;
        margin-right: 10px;
    }

}

@media screen and (min-width:992px){
    .recipe-name{
        font-size: 35px;
    }
    .recipe-card{
        display: flex;
    }
    .quick-notes ul{
        display: block;
    }
    .pin{
        right: 0;
    }
    .recipe-info{
        width: 40%;
    }
    .social-networks .label{
        display: inline;
    }
    .social-networks .btn{
        padding: 8px 30px;
    }
    footer{
        display: flex;
        justify-content: space-between;
    } 
    address{
        text-align: left;
    }
    footer ul{
        text-align: right;
    }
}  

